<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav nav-fill w-100">
      <a class="nav-item nav-link active" routerLink="/news">Latest News<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/array">Array<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/string">String<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/matrix">Matrix<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/linked-list">Linked List<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/stack">Stack<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/queue">Queue<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/tree">Tree<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/hashing">Hashing<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/graph">Graph<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
