<table class="table table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">Problem Statement</th>
      <th scope="col">Feeling lucky?</th>
      <th scope="col">URL</th>
      <th scope="col">Notes</th>
      <th scope="col">Shubhi's Status</th>
      <th scope="col">Aditya's Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questions">
      <td>
        <ng-container *ngIf="question.wontDo; else WillDoThisQuestion">
          <div style="text-decoration: line-through; text-decoration-color: red; text-decoration-style: solid;">
            {{question.title}}
          </div>
        </ng-container>
        <ng-template #WillDoThisQuestion>
          {{question.title}}
        </ng-template>
      </td>
      <td>
        <button type="button" class="btn btn-wontdo" (click)="wontDoThisQuestion(question)">Won't Do</button>
      </td>
      <td><a href="{{question.questionUrl}}">Go to question's page</a></td>
      <td>{{question.notes}}</td>
      <td>
        <ng-container *ngIf="question.whetherShubhiSubmitted; else ShubhiNotSubmitted">
          <button type="button" class="btn btn-success">Done</button>
        </ng-container>
        <ng-template #ShubhiNotSubmitted>
          <div (click)="submitShubhiSolution(question)">
            <button type="button" class="btn btn-danger">Not Done</button>
          </div>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="question.whetherAdityaSubmitted; else AdityaNotSubmitted">
          <button type="button" class="btn btn-success">Done</button>
        </ng-container>
        <ng-template #AdityaNotSubmitted>
          <div (click)="submitAdityaSolution(question)">
            <button type="button" class="btn btn-danger">Not Done</button>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
