<table class="table table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Problem Statement</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Program for array rotation</td>
      <td><a href="https://www.geeksforgeeks.org/array-rotation/">More Info</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Search an element in a sorted and rotated array</td>
      <td><a href="https://www.geeksforgeeks.org/search-an-element-in-a-sorted-and-pivoted-array/">More Info</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Write a program to reverse an array or string</td>
      <td><a href="https://www.geeksforgeeks.org/write-a-program-to-reverse-an-array-or-string/">More Info</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Move all zeroes to end of array</td>
      <td><a href="https://www.geeksforgeeks.org/move-zeroes-end-array/">More Info</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Rearrange array such that even positioned are greater than odd</td>
      <td><a href="https://www.geeksforgeeks.org/rearrange-array-such-that-even-positioned-are-greater-than-odd/">More Info</a></td>
    </tr>
  </tbody>
</table>
