<table class="table table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topic</th>
      <th scope="col">Description</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img src="../../assets/slack-icon.png" /></th>
      <td>Join Slack</td>
      <td>Communication channel</td>
      <td><a href="https://join.slack.com/t/housepartyworkplace/shared_invite/enQtNjgyMjI3ODE5OTIyLTEyMTRiNDdhNzk3NGM3ODVmNWMwMzk4NWQ5YjlhODUyODRiNjU3OTczYzQ4MzdiMTZhMDMyMTJlNzNjNWIyODA">Join HouseParty</a></td>
    </tr>
    <tr>
      <th class="bits-campus" scope="row"><img src="../../assets/BITS_Hyderabad_campus_logo.gif" /></th>
      <td>BITS Hyderabad</td>
      <td>Recruiters list</td>
      <td><a href="https://www.bits-pilani.ac.in/Hyderabad/listOfRecruiters">List of recruiters</a></td>
    </tr>
  </tbody>
</table>


