<table class="table table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Problem Statement</th>
      <th scope="col">URL</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Insertion in a Binary Tree in level order</td>
      <td><a href="https://www.geeksforgeeks.org/insertion-in-a-binary-tree-in-level-order/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Deletion in a Binary Tree</td>
      <td><a href="https://www.geeksforgeeks.org/deletion-binary-tree/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Tree Traversals (Inorder, Preorder and Postorder)</td>
      <td><a href="https://www.geeksforgeeks.org/tree-traversals-inorder-preorder-and-postorder/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Find n-th node of inorder traversal</td>
      <td><a href="https://www.geeksforgeeks.org/find-n-th-node-inorder-traversal/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Find n-th node in Postorder traversal of a Binary Tree</td>
      <td><a href="https://www.geeksforgeeks.org/find-n-th-node-in-postorder-traversal-of-a-binary-tree/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Level Order Tree Traversal</td>
      <td><a href="https://www.geeksforgeeks.org/level-order-tree-traversal/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Level order traversal in spiral form</td>
      <td><a href="https://www.geeksforgeeks.org/level-order-traversal-in-spiral-form/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Level order traversal line by line | Set 3 (Using One Queue)</td>
      <td><a href="https://www.geeksforgeeks.org/level-order-traversal-line-line-set-3-using-one-queue/">More Info</a></td>
      <td>
        <button type="button" class="btn btn-danger">Not Done</button>
      </td>
    </tr>
  </tbody>
</table>
